apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-site
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flask-site
  template:
    metadata:
      labels:
        app: flask-site
    spec:
      containers:
      - name: flask
        image: us.icr.io/brandynlabs/flask-site:latest #change this to personal namespace
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: flask-site-svc
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30080
  selector:
    app: flask-site
